@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
 

body {
	font-size: 12pt; 
	text-align: center;
	font-family: "Nanum Gothic", sans-serif;
/* 	background-image: url("images/t04.jpg");
	background-repeat : no-repeat;
	background-size : cover; */
/* 	background-color: #000000; */
}

table {
	font-size: 10pt;
	text-align: center;
}

/* .table td{ border-bottom: 1px solid #000000; } */ /* 테이블 보더 설정 */


select {
	font-size: 12pt; 
}

form {
	font-size: 12pt; 
}

p{
	font-weight: 300;
	text-align: center;
}

div{
	text-align: center;
}

/* .jumbotron{
	background-image: url("images/t04.png");
	background-size: cover;
	height: 100%;
	width: 100%;
} */