@CHARSET "UTF-8";

body {
	font-size: 12pt; 
	text-align: center;
}

table {
	font-size: 10pt;
	text-align: center;
}

select {
	font-size: 12pt; 
}

form {
	font-size: 12pt; 
}

p{
	font-weight: 300;
	text-align: center;
}

div{
	text-align: center;
}